*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #ccc;
}

button {
  border: 1px solid #ccc;
  background: #ececec;
  border-radius: 50%;
  cursor: pointer;

  width: 4em;
  height: 4em;
}

.grid-picker button,
.color-picker .add-color {
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #333;
}

.color-picker .add-color {
  width: 100%;
  height: 2em;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.side-panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 8em;
  gap: 2em;
}

.color-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.color-picker .wheel {
  display: flex;
  align-items: center;
  gap: 1em;
}

.color-picker .wheel .color {
  width: 4em;
  height: 2em;
}

.color-picker .static {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* BOARD */
.board {
  border: 1px solid #ccc;
  height: 500px;
  width: 500px;
}

.drawing-board {
  display: grid;
  background: white;
}

/*utils */

.disabled-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
