*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #333;
}

button {
  border: 1px solid #ccc;
  background: #ececec;
  cursor: pointer;
  width: 4em;
  height: 4em;
}

.static button {
  border-radius: 50%;
}

.grid-picker {
  display: flex;
  justify-content: space-around;
}

.grid-picker button,
.color-picker .add-color,
.color-picker .remove-color {
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background: transparent;
  color: white;
}

.color-picker .add-color {
  width: 10em;
  height: 2em;
}

.color-picker .remove-color {
  height: 2em;
}
.color-picker .remove-color img {
  width: 1.2em;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.active-color,
.side-panel,
.wheel,
.static {
  border: 1px solid #ccc;
  padding: 0.3em 1em;
  border-radius: 8px;
}

.side-panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 8em;
  gap: 2em;
}

.color-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.color-picker .wheel,
.active-color {
  display: flex;
  align-items: center;
  gap: 1em;
}

.color-picker .wheel .color {
  width: 4em;
  height: 2em;
}

.color-picker .static {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.active-color div {
  flex-basis: 100%;
  height: 2.5em;
  border: 1px solid #ccc;
  background: black;
}

.active-color h1 {
  color: #ccc;
}

/* BOARD */
.board {
  border: 1px solid #ccc;
  height: 500px;
  width: 500px;
}

.drawing-board {
  display: grid;
  background: white;
}

/*utils */

.disabled-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
