* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
}

main button {
  height: 3em;
  width: 10em;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 3em;

  width: 80%;
  height: 500px;
  padding: 5em 0;
}

#drawing-board {
  display: grid;
  width: 50%;
  height: 550px;
  padding: 5px;

  position: relative;
}

#drawing-board::before {
  content: "";
  width: 101.5%;
  height: 101%;
  border: 1px solid #ccc;

  position: absolute;
  z-index: -1;
}

.block:hover {
  background: #000;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
